<%- include('partials/head', {style: '/stylesheets/rocket.css'}); %>
<%- include('partials/navbar'); %>
<header>
  <img class="header-img" src="/images/logo.svg" alt="spacex logo">
</header>
<% history.forEach(event => { %>
  <section>
    <h1><%= event.title %></h2>
    <p><%= event.event_date_utc %></p>
    <p>Flight # <%= event.flight_number %></p>
    <p><%= event.details %></p>
    <a style="color: white" class="btn" href="<%= event.links.article %>">Read More</a>
  </section>
<% }); %>
<%- include('partials/foot'); %>
