<%- include('partials/head'); %>
<%- include('partials/navbar'); %>
  <header id="video-header">
    <img src="/images/logo.svg" alt="logo">
    <div class="bg-video">
      <iframe scrolling="no" frameborder="0" height="125%" width="125%" src="https://youtube.com/embed/A0FZIwabctw?wmode=transparent&start=16&mute=1&autoplay=1&loop=1&controls=0&modestbranding=1&fs=0&autohide=1&playlist=A0FZIwabctw&iv_load_policy=3"></iframe>
    </div>
    <div class="video-overlay"></div>
    <div class="starman">
      <h3>Starman Stats</h3>
      <p>Speed: <%= Math.trunc(starman.speed_kph) %>km/h</p>
      <p>Distance from Earth: <%= Math.trunc(starman.earth_distance_km) %>km</p>
    </div>
  </header>
<%- include('partials/foot'); %>
