<%- include('../partials/head'); %>
<%- include('../partials/navbar'); %>
<header>
  <h1><%= capsule.capsule_serial %></h1>
  <p>since <%= capsule.original_launch %></p>
  <p><%= capsule.details %></p>
</header>
<%- include('../partials/foot'); %>
