<%- include('../partials/head', {style: '/stylesheets/rocket.css'}); %>
<%- include('../partials/navbar'); %>
<header>
  <h1><%= rocket.rocket_name %></h1>
  <figure>
    <img src="<%= rocket.flickr_images[1] %>" alt="">
    <figcaption><%= rocket.description %></figcaption>
  </figure>
</header>
<section id="stats">
  <p>Stages: <%= rocket.stages %></p>
  <p>Boosters: <%= rocket.boosters %></p>
  <p>Cost Per Launch: $<%= rocket.cost_per_launch %>.00</p>
  <p>Success Rate: <%= rocket.success_rate_pct %>%</p>
</section>
<%- include('../partials/foot'); %>
