<%- include('../partials/head', {style: '/stylesheets/rocket.css'}); %>
<%- include('../partials/navbar'); %>
<header>
  <img class="header-img" src="/images/logo.svg" alt="">
</header>
<section>
  <div class="header-container">
    <h1><%= rocket.rocket_name %></h1>
    <img class="rocket-img" src="<%= rocket.flickr_images[0] %>" alt="">
    <p>First Flight: <%= rocket.first_flight %></p>
    <% if(rocket.active) { %>
      <p style="margin:auto" class="status active">Active</p>
    <% } else { %>
      <p style="margin:auto" class="status inactive">Inactive</p>
    <% } %>
    <p><%= rocket.description %></p>
  </div>
</section>
<section id="stats">
  <div id="stats-container"class="container">
    <div class="text-container">
      <h1>Details</h1>
      <p>Stages: <%= rocket.stages %></p>
      <p>Boosters: <%= rocket.boosters %></p>
      <p>Cost Per Launch: $<%= rocket.cost_per_launch / 1000000 %>Mil</p>
      <p>Success Rate: <%= rocket.success_rate_pct %>%</p>
    </div>
    <div class="text-container">
      <h1 style="text-align: left">Dimensions</h1>
      <p>Height: <%= rocket.height.meters %>m</p>
      <p>Diameter: <%= rocket.diameter.meters %>m</p>
      <p>Mass: <%= rocket.mass.kg %>kg</p>
    </div>
    <div class="text-container">
      <h1 style="text-align: left">Payload Weights</h1>
      <% rocket.payload_weights.forEach(payload => { %>
        <p><%= payload.id.toUpperCase() %>: <%= payload.kg %>kg</p>
      <% }); %>
    </div>
    <div class="text-container">
      <h1>First Stage</h1>
      <% if(rocket.first_stage.reusable) { %>
        <p class="status active">Reusable</p>
      <% } else { %>
        <p class="status inactive">Disposable</p>
      <% } %>
      <p>Engines: <%= rocket.first_stage.engines %></p>
      <p>Fuel Capacity: <%= rocket.first_stage.fuel_amount_tons %> Tons</p>
      <p>Burn Time: <%= rocket.first_stage.burn_time_sec %>s</p>
      <p>Thrust (Sea Level): <%= rocket.first_stage.thrust_sea_level.kN %>kN</p>
      <p>Thrust (Vacuum): <%= rocket.first_stage.thrust_vacuum.kN %>kN</p>
    </div>
    <div class="text-container">
      <h1>Second Stage</h1>
      <% if(rocket.second_stage.reusable) { %>
        <p class="status active">Reusable</p>
      <% } else { %>
        <p class="status inactive">Disposable</p>
        <p>Engines: <%= rocket.second_stage.engines %></p>
        <p>Fuel Capacity: <%= rocket.second_stage.fuel_amount_tons %> Tons</p>
        <p>Burn Time: <%= rocket.second_stage.burn_time_sec %>s</p>
        <p>Thrust (Vacuum): <%= rocket.second_stage.thrust.kN %>kN</p>
      <% } %>
    </div>
    <div class="text-container">
      <h1>Engines</h1>
      <p>Number of Engines: <%= rocket.engines.number %></p>
      <p>Type: <%= rocket.engines.type %></p>
      <p>Version: <%= rocket.engines.version %></p>
      <p>Layout: <%= rocket.engines.layout %></p>
      <p>Fuel: <%= rocket.engines.propellant_1 %> + <%= rocket.engines.propellant_2 %></p>
      <p>ISP (Sea-Level): <%= rocket.engines.isp.sea_level %>s</p>
      <p>ISP (Vacuum): <%= rocket.engines.isp.vacuum %>s</p>
      <p>TWR: <%= rocket.engines.thrust_to_weight %>%</p>
    </div>
  </div>
  <img id="rocket-png" src="/images/<%= rocket.rocket_name %>.webp" alt="">
</section>
<section>
  <h1>Missions</h1>
  <div class="container">
    <% launches.forEach(launch => { %>
      <% if(!launch.upcoming) { %>
        <div class="mission-card">
          <h1><%= launch.mission_name %></h1>
          <img class="mission-badge" src="<%= launch.links.mission_patch %>" alt="">
          <p><%= new Date(launch.launch_date_utc).toDateString() %></p>
          <p><%= launch.launch_site.site_name %></p>
          <a class="btn" href="/launches/<%= launch.flight_number %>">Read More</a>
        </div>
      <% } %>
    <% }); %>
  </div>
</section>
<%- include('../partials/foot'); %>
